body, p, ul, li, h1 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 17px;
    color: #444;
    border-bottom: dashed 1px #aaa;
    padding-bottom: 1em;
    margin: 1em 1em 0 1em;
}

h1 a {
    color: blue;
    text-decoration: none;
    margin: 0 3px;
}

h1 a:hover {
    border-bottom: solid 1px blue;
    text-shadow: 1px 1px 1px #ccf;
}

ul, li {
    list-style: none;
}

ul {
    padding: 1em;
    line-height: 180%;
}

#container a {
    text-decoration: none;
    color: blue;
    display: block;
    border-radius: 3px;
    padding: 2px;
}

li:nth-child(2n) {
    background: #f6f6f6;
    border-radius: 2px;
}

#container a:hover {
    background: #afa;
}

body, h1 {
    font-family: tahoma, verdana, sans-serif;
}

#container {
    margin-left: 1em;
    width: 70%;
    font-size: 14px;
}
