!!! 5
html(lang="en")
    head
        title=pageTitle
        link(rel='stylesheet',href='http://local.com/global.css')
        link(rel='stylesheet',href='http://local.com/default/default.css')
    body
        div(class="box")
            h1 Path:
                - path.forEach(function(item){
                    - if(item.href!==undefined)
                        a(href="/"+item.href)=item.text
                        /
                    - else
                        span=item.text
                - })
            input#search_input(class='txt',type='text',name='q',style='display:inline;')
            input#search_engine_button(class='btn',type='submit',value='搜索',style='display:inline;')
        #container
            ul
              - list.forEach(function(item){
                li
                    a(href=item.href)=item.text
              - })
        script(src)
