!!! 5
html(lang="en")
  head
    title=pageTitle
    script(type='text/javascript')
      if (foo) {
         bar()
      }
      style
        include ./views/default.css
  body
    h1=pageTitle
    #container
      ul
          each file in fileList
            li
                a(href=file)=file
