body {
    /*background:#ffc0cb;*/
    background: url("http://local/green/bgreen.jpg");
}

.all {
    background:rgba(246, 246, 246, .7);
    height:35px;
}

.box {
    width:960px;
    margin:0 auto;
    position:relative;
    height:35px;
}

h1 {
    font-size: 20px;
    color: black;
    padding-top:10px;
    display:inline-block;
    margin-top:25px;
}

h1 a {
    color: black;
    text-decoration: none;
    margin: 0 3px;
}

h1 a:hover {
    border-bottom: solid 1px black;
}

#container {
    width:960px;
    font-size: 14px;
    background:#fff;
    margin:0 auto;
    margin-top:50px;
}

#container a{
    color:#A8A8A8;
    font-weight:bold;
    text-decoration:none;
    white-space: nowrap;
}

#container a:hover {
    text-decoration:underline;
    color:red;
}

ul {
   background:#fff;
    width:960px;
    position:absolute;
    border-radius: 5px 5px 5px 5px;
}

li {
    float:left;
    margin-left:52px;
    margin-top:10px;
    margin-bottom:20px;
    width:400px;
    height:50px;
    position:relative;
    background:#EBFEEA;
    border-radius: 5px 5px 5px 5px;
    line-height:50px;

}

li .word{
    width:150px;
    overflow:hidden;
    display:inline-block;
}

li span {
    display:inline-block;
    width:150px;
}

li .revise {
    position:absolute;
    left:270px;
}

li .rename {
    position:absolute;
    left:340px;
}

li .del {
    position:absolute;
    left:200px;
}

#prview {
    position:absolute;
    top:240px;
    right:200px;
}